
/***********************VARIABLES******************/
$color-primario: black;
$color-secundario:#3c3c3c;
$color-primario: black;
$color-secundario:#3c3c3c;
$color1: #000000;
$color2:  #1f2023;
$color3:  #4a4b52;
$color4:  #7b7c87;
$color5:  #b1b2c1;
$color6: #fff;
$font1: 'Bebas Neue', sans-serif;
$font2: 'Rajdhani', sans-serif;


/***********************MIXIN******************/

@mixin shadow {
    margin: 1rem 1rem;
    border-radius: 5px;
    border: thin solid black;
    box-shadow: 5px 5px 5px 5px #0005;
    
}

@mixin display {
    display: flex;
    justify-content: center;
    align-items: center;
}

/***********************ESTILOS DEL PROYECTO******************/


.layout {
    display: grid;
    grid-template-areas: 
    "header header  header header"
    "nav nav nav nav"
    "slider slider slider slider"
    "main main main main"
    "contacto contacto ubicacion ubicacion"
    "contacto contacto ubicacion ubicacion"
    "footer footer footer footer"
    ;
}

@media screen and (max-width: 492px) {
    .layout { 
    grid-template-areas: 
    "header header  header header"
    "nav nav nav nav"
    "slider slider slider slider"
    "main main main main"
    "contacto contacto contacto contacto"
    "ubicacion ubicacion ubicacion ubicacion"
    "footer footer footer footer"
    ;   
}
}
.grid__header {
    grid-area: header;
    background-color: $color1;
    
}
.grid__nav {
    background-color:$color2;
    grid-area: nav;
    width: 100%;
}
.grid__slider {
    grid-area: slider;
}

.grid__main {
    background-color: $color5;
    grid-area: main;
    display: flex;
    justify-content: center;
    
}
.grid__contacto {
    grid-area: contacto;
    background-color:$color4;
    display: flex;
}
.grid__ubicacion {
    grid-area: ubicacion;
    @include display;
    background-color:$color4;
    
}

.grid__footer {
    grid-area: footer;
    background-color:$color1;
    @include display;
    flex-direction: column;
}

/* ENCABEZADO */
.container {
    &__imagen {
        display: flex;
        justify-content: center;
        img {
            width: 15rem;
            height: auto;
        }
    }
}

@media (max-width:525px) {
    .container {
        &__imagen {
            display: flex;
            justify-content: center;
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
    }


/* BARRA DE NAVEGACIÓN */

.grid__nav {
    a {
        color: $color6;
        font-family: $font1;
        font-size: 2rem;
        padding: 0px 10px;
        &:hover {
            background-color: $color1;
        
        }
    }

}
/* MAIN ACTIVIDADES */

/* HECHOC CON BOOTSTRAP  */
main .container__texto {
    font-family: $font2;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight:600;
}

/* .carousel {
    background-color: rgb(104, 101, 101);
   }  */

/* .carousel-item {
    height: 65vh;
    min-height: 400px;
    } */
.carousel-inner img {
    height: 600px;
    object-fit:contain; 
} 

/* FORMULARIO DE CONTACTO */

.form {
    &__marco {
        width: 90%;
        max-width: 400px;
        margin: 1em auto;
        padding: 4.5em 3em;
        border-radius: 10px;
        background-color: white;
        box-shadow: 5px 5px 10px $color2;
        text-align: center;
    }
    &__title {
        font-family: $font1;
        font-size: 2rem;
        margin-bottom: .05em;
    }
    &__paragraph {
        font-family: $font2;
        font-weight: 500;
    }
    &__container {
        display: grid;
        gap: 1em;
    }
    &__group {
        position: relative;
        color: $color3;
    }
    &__imput {
        width: 100%;
        background: none;
        color: $color1;
        font-family: $font2;
        font-size: 1rem;
        padding: .6em.3em;
        border: none;
        outline: none;
    }
    &__label {
        color: $color5;
        cursor: pointer;
        position: absolute;
        font-family: $font2;
        top: 0;
        left: 5px;
        transform: translateY(10px);
        transition:transform .5s, color .3s;
    }
    &__submit {
        font-family: $font2;
        border-radius: 10px;
        border: none;
    }
    &__line {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: $color3;
        transform: scale(o);
        transform: left bottom;
        transform: transform .4s;
        
    }
}

.form__imput:focus + .form__label, .form__imput:not(:placeholder-shown) + .form__label  {
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: $color-primario;
    } 
    
    
    
.form__imput:focus ~ .form__line, .form__imput:not(:placeholder-shown) ~ .form__line  {
        transform: scale(1);
        }

@media (max-width:492px) {
.form__title {
font-size: 1.2rem;
    }
}

/* UBICACION */

.container {
    &__ubicacion {
        max-width: 500px;
        width: 90%;
        text-align: center;
        font-family:$font2;
        font-weight: 500;
        &--mapa {
            width: 100%;
            }
    h2 {
        color: $color1;
        font-family: $font1;
        font-size: 2rem;
    }
    }
}

/* FOOTER */

@import "footericonos";

.grid__footer p {
    font-family: $font1;
    font-size: 1.5rem;
    color: $color6;
}

/* SECCION DISCIPLINAS */
/* LAYOUT CON GRID AREAS */

.layout__disciplinas {
    display: grid;
    background-color: $color5;
    overflow-x: hidden;
    
    grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "section1 section1 section1 section1"
    "section2 section2 section2 section2"
    "section3 section3 section3 section3"
    "section4 section4 section4 section4"
    "footer footer footer footer"
}

.grid__header2 {
    grid-area: header;
    background-color:$color1;
    overflow-x: hidden;
    overflow-y: hidden;
}

.grid__nav2 {
    grid-area:nav;
    background-color: $color2;
    overflow-x: hidden;
    overflow-y: hidden;
}


.seccion1 {
    grid-area: section1;
    display: flex;
    padding: 5px 5px;
    @include shadow;
    overflow-x: hidden;
    overflow-y: hidden;
    
}
.seccion1::before, .seccion2::before, .seccion3::before, .seccion4::before  {
    content: " ";
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 150%;
    height: 80%;
    top: 0;
    right: -20rem;
    background: linear-gradient(#00ccff, #111011);
    animation: animate 4s linear infinite;
}

.seccion1::after, .seccion2::after, .seccion3::after, .seccion4::after {
    content: " ";
    position: absolute;
    inset: 4px;
    background: $color4;
    border: 16px;
    overflow-x: hidden;
    overflow-y: hidden;
}

@keyframes animate {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}

}

@media screen and (max-width: 500px) {
    .seccion1::before, .seccion2::before, .seccion3::before, .seccion4::before  {
        content: " ";
        width: 250%;
        height: 80%;
        top: 0;
        right: -20rem;
        overflow-x: hidden;
        overflow-y: hidden;
        
    }
    }


.seccion2 {
    grid-area: section2;
    display: flex;
    padding: 5px 5px;
    @include shadow;
    overflow-x: hidden;
    overflow-y: hidden;
}

.seccion3 {
    grid-area: section3;
    display: flex;
    padding: 5px 5px;
    @include shadow;
    overflow-x: hidden;
    overflow-y: hidden;
}

.seccion4 {
    grid-area: section4;
    display: flex;
    padding: 5px 5px;
    @include shadow;
    overflow-x: hidden;
    overflow-y: hidden;

}

.footer2 {
    grid-area: footer;
    background-color: $color1;
    display: flex;
    @include display;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    
}

/* BARRA DE NAVEGACIÓN */



.grid__nav2 {
    a {
        color: $color6;
        font-family: $font1;
        font-size: 2rem;
        padding: 0px 10px;
        &:hover {
            background-color: $color1;
        
        }
    }
}

/* DISCIPLINAS: SECCION 1 */
/* MOBILE */
@media screen and (max-width: 764px) {
    .seccion1, .seccion2, .seccion3, .seccion4 {
    display: flex;
    @include display;
    flex-direction: column;
    
    
    }
    .container {
        &__texto {
            font-family: $font2;
            font-weight: 600;
            text-align: center;
            width: 90%;
            overflow: hidden;
            h2 {
                font-family:$font1;
            }
            
        }
        &__imagen2 {
            display: flex;
            width:100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            img {
                max-width: 100%;
                overflow: hidden;
                }
            } 
    }
}

/* fin mobile */

.container {
    &__imagen2 {
        display: flex;
        min-width: fit-content;
        z-index: 2;
        
        img {
            border-radius: 30px;
            padding: 10px 10px;
            min-width: 100%;
            
            }
        }
    &__texto {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
        z-index: 10;
        font-family: $font2;
        font-size: 1.05rem;
        letter-spacing: 1px;
        line-height: 25px;
        font-weight: 600;
        
        h2 {
            font-family: $font1;
            
        }
    }
}

.footer2 p {
    font-family: $font1;
    font-size: 1.5rem;
    color: $color6;
    
}

/* SECCION FOTOS */
/* LAYOUT CON GRID AREAS */

.layout__fotos {
    display: grid;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "section section section section"
    "footer footer footer footer";
}



.grid__header3 {
    grid-area: header;
    background-color:$color1;
}

.grid__nav3 {
    grid-area: nav;
    background-color:$color2;
}

.grid__slider3 {
    grid-area: main;
    position: relative;
    display: flex;
    justify-content: center;
    
}

.footer3 {
    grid-area: footer;
    background-color: $color1;
    @include display;
    flex-direction: column;
    p {
        color: $color6;
        font-family:$font1;
        font-size: 1.5rem;
    }
}



/* BARRA DE NAVEGACIÓN */

.grid__nav3 li a:hover {
    background-color: black;

}

.grid__nav3 li a {
    color: $color6;
    font-family: $font1;
    font-size: 2rem;
    padding: 0px 10px;
}

/* TAMAÑO DEL SLIDER */


.slide {
    width: 100%;
    height: auto;
    background-image: url(https://sp-ao.shortpixel.ai/client/to_auto,q_glossy,ret_img,w_1920/https://guiaarquitectura.com/wp-content/uploads/2018/12/reja-de-acero-min.jpg);
}


/* ANIMACIONES PUÑO */

.fist__1 {
    position: absolute;
    margin-top: 8em;
    align-self:stretch;
    justify-content:right;
    right: 3%;
    

}

.fist__1--container {
    width: 100px;
    height: auto;
        img {
        animation: pulse 1s linear infinite;
        
    }
    
}
.fist__2 {
    position: absolute;
    margin-top: 8em;
    align-self:stretch;
    left: 3%;
    
}
.fist__2--container {
    width: 100px;
    height: auto;
        img {
        animation: pulse 1s linear infinite;
        
    }
}

@keyframes pulse {
    0% {
        transform: scale(1.5);
    }

    50% {
        transform: scale(.5);
    }

    100% {
        transform: scale(1);
    }
}

/* MOBILE FIST NONE */
@media screen and (max-width: 870px) {
    .fist__1 {
        display: none;
    }
    .fist__2 {
        display: none;
    }
}


/* ACERCA DE NOSOTROS */

.layout__nosotros {
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
}

.grid__header4 {
    grid-area: header;
    background-color: $color1;

}

.grid__nav4 {
    grid-area: nav;
    background-color:$color2;
}

.grid__main4 {
    grid-area: main;
    display: flex;
    justify-content: center;
    background-color: $color5;
    flex-wrap: wrap;
    
    .container__imagen2 {
        display: flex;
        justify-content: center;
        background-color: $color3;
    }
}

@media screen and (max-width: 764px) {
    .grid__main4 {
    display: flex;
    @include display;
    flex-direction: column;
    max-width: 100vw;
    .container__imagen2 img {
        max-width: 100vw;
        height: auto;
        }
    }
}
.footer4 {
    grid-area: footer;
    background-color: $color1;
    @include display;
    flex-direction: column;
}

/* BARRA DE NAVEGACIÓN */

.grid__nav4 li a:hover {
    background-color: $color1;

}
.grid__nav4 li a {
    font-family: $font1;
    font-size: 2rem;
    padding: 0px 10px;
    color: $color6;
}

.container__texto {
    h1 {
        font-family: $font1;
        padding-top: 1rem;
    }
}
/* MAIN */
.container__imagen2 img {
max-width: 50%;
height: auto;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0;
    
}

.container .card {
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
                inset -5px -5px 15px rgba(255,255,255,0.1),
                5px 5px 15px rgba(0,0,0,0.3),
                -5px -5px 15px rgba(255,255,255,0.1);
    border-radius: 15px;
    margin: 30px;
    background:black;

}

.container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border: 2px solid #1e1f23;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

.container .card .box:hover {
    transform: translateY(-50px);
    box-shadow: 0 40px 70px rgba(0,0,0,0.5);
    opacity: 1;
}

.container .card .box .content {
    padding: 20px;
    text-align: center ;
    h2 {
        position: absolute;
        top: -10px;
        right: 0px;
        font-size: 3em;
        z-index: 2;
        color: rgba(255,255,255,0.7);
    }
    h3 {
        font-size: 1.5em;
        color: rgba(255,255,255,0.5);
        z-index: 1;
        transition: 0.5s;
    }
    p{
        font-size: 1em;
        color: rgba(255,255,255,0.5);
        font-weight: 300;
        z-index: 1;
        transition: 0.5s;
    }
    a {
        position: relative;
        display: inline-block;
        padding: 8px 20px;
        background: #000;
        margin-top: 15px;
        border-radius: 20px;
        color: $color6;
        font-size: 20px;
        
    }
    img {
        z-index: -1;
        border-radius: 15px;
        object-fit: cover;
        object-position: center;
    
    }
}

.content .sci {
    position: absolute;
    display: flex;
    
    li {
        list-style: none;
        margin: 0px 15px;
        transform: translateY(40px);
        transition: 0.5s;
        transition-delay: 0.4s;
        opacity: 0;
        }
        
}

.container .card:hover .sci li {
    transform: translateY(-20px);
    opacity: 1;
}


/* FOOTER */

.footer4 p {
    font-family: 'Bebas Neue', cursive, sans-serif;
    font-size: 1.5rem;
    color: $color6;
}


/* HORARIOS Y PRECIOS */

.layout__hyp {
    display: grid;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "tabla tabla tabla"
    "footer footer footer" ;
}

.grid__header5 {
    grid-area: header;
    background-color: $color1;
}

.grid__nav5 {
    grid-area: nav;
    background-color: $color2;

}

.tablahyp {
    grid-area: tabla;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color:$color5;
    h2, th, td {
        font-family: $font2;
        font-weight: 600;
    }
}

.footer5 {
    grid-area: footer;
    background-color: $color1;
    @include display;
    flex-direction: column;
    
}

/* NAV */

.grid__nav5 li a:hover {
    background-color: $color1;

}
.grid__nav5 li a {
    color: $color6;
    font-family: $font1;
    font-size: 2rem;
    padding: 0px 10px;
}

.footer5 p {
    font-family: $font1;
    font-size: 1.5rem;
    color: $color6;
}  

.tablahyp h2 {
text-decoration: underline;
}


