@charset "UTF-8";
/***********************VARIABLES******************/
/***********************MIXIN******************/
/***********************ESTILOS DEL PROYECTO******************/
.layout {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header  header header" "nav nav nav nav" "slider slider slider slider" "main main main main" "contacto contacto ubicacion ubicacion" "contacto contacto ubicacion ubicacion" "footer footer footer footer";
}

@media screen and (max-width: 492px) {
  .layout {
        grid-template-areas: "header header  header header" "nav nav nav nav" "slider slider slider slider" "main main main main" "contacto contacto contacto contacto" "ubicacion ubicacion ubicacion ubicacion" "footer footer footer footer";
  }
}

.grid__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  background-color: #000000;
}

.grid__nav {
  background-color: #1f2023;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav;
  width: 100%;
}

.grid__slider {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: slider;
}

.grid__main {
  background-color: #b1b2c1;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid__contacto {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: contacto;
  background-color: #7b7c87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid__ubicacion {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: ubicacion;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7b7c87;
}

.grid__footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ENCABEZADO */
.container__imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__imagen img {
  width: 15rem;
  height: auto;
}

@media (max-width: 525px) {
  .container__imagen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container__imagen img {
    max-width: 100%;
    height: auto;
  }
}

/* BARRA DE NAVEGACIÓN */
.grid__nav a {
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  padding: 0px 10px;
}

.grid__nav a:hover {
  background-color: #000000;
}

/* MAIN ACTIVIDADES */
/* HECHOC CON BOOTSTRAP  */
main .container__texto {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 600;
}

/* .carousel {
    background-color: rgb(104, 101, 101);
   }  */
/* .carousel-item {
    height: 65vh;
    min-height: 400px;
    } */
.carousel-inner img {
  height: 600px;
  -o-object-fit: contain;
     object-fit: contain;
}

/* FORMULARIO DE CONTACTO */
.form__marco {
  width: 90%;
  max-width: 400px;
  margin: 1em auto;
  padding: 4.5em 3em;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 10px #1f2023;
          box-shadow: 5px 5px 10px #1f2023;
  text-align: center;
}

.form__title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  margin-bottom: .05em;
}

.form__paragraph {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
}

.form__container {
  display: -ms-grid;
  display: grid;
  gap: 1em;
}

.form__group {
  position: relative;
  color: #4a4b52;
}

.form__imput {
  width: 100%;
  background: none;
  color: #000000;
  font-family: "Rajdhani", sans-serif;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
}

.form__label {
  color: #b1b2c1;
  cursor: pointer;
  position: absolute;
  font-family: "Rajdhani", sans-serif;
  top: 0;
  left: 5px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: color .3s, -webkit-transform .5s;
  transition: color .3s, -webkit-transform .5s;
  transition: transform .5s, color .3s;
  transition: transform .5s, color .3s, -webkit-transform .5s;
}

.form__submit {
  font-family: "Rajdhani", sans-serif;
  border-radius: 10px;
  border: none;
}

.form__line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #4a4b52;
  -webkit-transform: scale(o);
          transform: scale(o);
  -webkit-transform: left bottom;
          transform: left bottom;
  -webkit-transform: transform .4s;
          transform: transform .4s;
}

.form__imput:focus + .form__label, .form__imput:not(:placeholder-shown) + .form__label {
  -webkit-transform: translateY(-12px) scale(0.7);
          transform: translateY(-12px) scale(0.7);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  color: black;
}

.form__imput:focus ~ .form__line, .form__imput:not(:placeholder-shown) ~ .form__line {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 492px) {
  .form__title {
    font-size: 1.2rem;
  }
}

/* UBICACION */
.container__ubicacion {
  max-width: 500px;
  width: 90%;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
}

.container__ubicacion--mapa {
  width: 100%;
}

.container__ubicacion h2 {
  color: #000000;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
}

/* FOOTER */
.footer__socialicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.footer__socialicons li {
  list-style: none;
}

.footer__socialicons li a {
  font-size: 2em;
  color: white;
  margin: 0 15px;
  display: inline-block;
}

.footer__socialicons li a:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.grid__footer p {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  color: #fff;
}

/* SECCION DISCIPLINAS */
/* LAYOUT CON GRID AREAS */
.layout__disciplinas {
  display: -ms-grid;
  display: grid;
  overflow-x: hidden;
  /* sin esta propiedad se genera barra de scroll horizontal por el efecto de que aparece desde fuera de la pantalla */
  background-color: #b1b2c1;
      grid-template-areas: "header header header header" "nav nav nav nav" "section1 section1 section1 section1" "section2 section2 section2 section2" "section3 section3 section3 section3" "section4 section4 section4 section4" "footer footer footer footer";
}

.grid__header2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  background-color: #000000;
}

.grid__nav2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav;
  background-color: #1f2023;
}

.seccion1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: section1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 5px;
  margin: 1rem 1rem;
  border-radius: 5px;
  border: thin solid black;
  -webkit-box-shadow: 5px 5px 5px 5px #0005;
          box-shadow: 5px 5px 5px 5px #0005;
  overflow: hidden;
}

.seccion1::before, .seccion2::before, .seccion3::before, .seccion4::before {
  content: " ";
  position: absolute;
  width: 150%;
  height: 80%;
  top: 0;
  right: -20rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#00ccff), to(#111011));
  background: linear-gradient(#00ccff, #111011);
  -webkit-animation: animate 4s linear infinite;
          animation: animate 4s linear infinite;
}

.seccion1::after, .seccion2::after, .seccion3::after, .seccion4::after {
  content: " ";
  position: absolute;
  inset: 4px;
  background: #7b7c87;
  border: 16px;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (max-width: 500px) {
  .seccion1::before, .seccion2::before, .seccion3::before, .seccion4::before {
    content: " ";
    width: 250%;
    height: 80%;
    top: 0;
    right: -20rem;
  }
}

.seccion2 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: section2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 5px;
  margin: 1rem 1rem;
  border-radius: 5px;
  border: thin solid black;
  -webkit-box-shadow: 5px 5px 5px 5px #0005;
          box-shadow: 5px 5px 5px 5px #0005;
  overflow: hidden;
}

.seccion3 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: section3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 5px;
  margin: 1rem 1rem;
  border-radius: 5px;
  border: thin solid black;
  -webkit-box-shadow: 5px 5px 5px 5px #0005;
          box-shadow: 5px 5px 5px 5px #0005;
  overflow: hidden;
}

.seccion4 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: section4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 5px;
  margin: 1rem 1rem;
  border-radius: 5px;
  border: thin solid black;
  -webkit-box-shadow: 5px 5px 5px 5px #0005;
          box-shadow: 5px 5px 5px 5px #0005;
  overflow: hidden;
}

.footer2 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* BARRA DE NAVEGACIÓN */
.grid__nav2 a {
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  padding: 0px 10px;
}

.grid__nav2 a:hover {
  background-color: #000000;
}

/* DISCIPLINAS: SECCION 1 */
/* MOBILE */
@media screen and (max-width: 764px) {
  .seccion1, .seccion2, .seccion3, .seccion4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container__texto {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    text-align: center;
    width: 90%;
  }
  .container__texto h2 {
    font-family: "Bebas Neue", sans-serif;
  }
  .container__imagen2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container__imagen2 img {
    max-width: 100%;
  }
}

/* fin mobile */
.container__imagen2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  z-index: 2;
}

.container__imagen2 img {
  border-radius: 30px;
  padding: 10px 10px;
  min-width: 100%;
}

.container__texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 20px;
  z-index: 10;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.05rem;
  letter-spacing: 1px;
  line-height: 25px;
  font-weight: 600;
}

.container__texto h2 {
  font-family: "Bebas Neue", sans-serif;
}

.footer2 p {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  color: #fff;
}

/* SECCION FOTOS */
/* LAYOUT CON GRID AREAS */
.layout__fotos {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header header" "nav nav nav nav" "main main main main" "section section section section" "footer footer footer footer";
}

.grid__header3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  background-color: #000000;
}

.grid__nav3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav;
  background-color: #1f2023;
}

.grid__slider3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer3 p {
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
}

/* BARRA DE NAVEGACIÓN */
.grid__nav3 li a:hover {
  background-color: black;
}

.grid__nav3 li a {
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  padding: 0px 10px;
}

/* TAMAÑO DEL SLIDER */
.slide {
  width: 100%;
  height: auto;
  background-image: url(https://sp-ao.shortpixel.ai/client/to_auto,q_glossy,ret_img,w_1920/https://guiaarquitectura.com/wp-content/uploads/2018/12/reja-de-acero-min.jpg);
}

/* ANIMACIONES PUÑO */
.fist__1 {
  position: absolute;
  margin-top: 8em;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  right: 3%;
}

.fist__1--container {
  width: 100px;
  height: auto;
}

.fist__1--container img {
  -webkit-animation: pulse 1s linear infinite;
          animation: pulse 1s linear infinite;
}

.fist__2 {
  position: absolute;
  margin-top: 8em;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  left: 3%;
}

.fist__2--container {
  width: 100px;
  height: auto;
}

.fist__2--container img {
  -webkit-animation: pulse 1s linear infinite;
          animation: pulse 1s linear infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* MOBILE FIST NONE */
@media screen and (max-width: 870px) {
  .fist__1 {
    display: none;
  }
  .fist__2 {
    display: none;
  }
}

/* ACERCA DE NOSOTROS */
.layout__nosotros {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header" "nav nav nav" "main main main" "footer footer footer";
}

.grid__header4 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  background-color: #000000;
}

.grid__nav4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav;
  background-color: #1f2023;
}

.grid__main4 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #b1b2c1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid__main4 .container__imagen2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #4a4b52;
}

@media screen and (max-width: 764px) {
  .grid__main4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100vw;
  }
  .grid__main4 .container__imagen2 img {
    max-width: 100vw;
    height: auto;
  }
}

.footer4 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* BARRA DE NAVEGACIÓN */
.grid__nav4 li a:hover {
  background-color: #000000;
}

.grid__nav4 li a {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  padding: 0px 10px;
  color: #fff;
}

.container__texto h1 {
  font-family: "Bebas Neue", sans-serif;
  padding-top: 1rem;
}

/* MAIN */
.container__imagen2 img {
  max-width: 50%;
  height: auto;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1200px;
  margin: 0;
}

.container .card {
  position: relative;
  min-width: 320px;
  height: 440px;
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  background: black;
}

.container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border: 2px solid #1e1f23;
  border-radius: 15px;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.5;
}

.container .card .box:hover {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
          box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.container .card .box .content {
  padding: 20px;
  text-align: center;
}

.container .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 0px;
  font-size: 3em;
  z-index: 2;
  color: rgba(255, 255, 255, 0.7);
}

.container .card .box .content h3 {
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .card .box .content p {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #000;
  margin-top: 15px;
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
}

.container .card .box .content img {
  z-index: -1;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.content .sci {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .sci li {
  list-style: none;
  margin: 0px 15px;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  opacity: 0;
}

.container .card:hover .sci li {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 1;
}

/* FOOTER */
.footer4 p {
  font-family: 'Bebas Neue', cursive, sans-serif;
  font-size: 1.5rem;
  color: #fff;
}

/* HORARIOS Y PRECIOS */
.layout__hyp {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header" "nav nav nav" "tabla tabla tabla" "footer footer footer";
}

.grid__header5 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  background-color: #000000;
}

.grid__nav5 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav;
  background-color: #1f2023;
}

.tablahyp {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: tabla;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #b1b2c1;
}

.tablahyp h2, .tablahyp th, .tablahyp td {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
}

.footer5 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* NAV */
.grid__nav5 li a:hover {
  background-color: #000000;
}

.grid__nav5 li a {
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  padding: 0px 10px;
}

.footer5 p {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  color: #fff;
}

.tablahyp h2 {
  text-decoration: underline;
}
/*# sourceMappingURL=estilo.css.map */