@charset "UTF-8";
.layout {
  display: -ms-grid;
  display: grid;
  /* grid-template-rows: 1fr auto; */
      grid-template-areas: "header header  header header" "nav nav nav nav" "slider slider slider slider" "main main main main" "contacto contacto ubicacion ubicacion" "contacto contacto ubicacion ubicacion" "footer footer footer footer";
}

@media screen and (max-width: 492px) {
  .layout {
        grid-template-areas: "header header  header header" "nav nav nav nav" "slider slider slider slider" "main main main main" "contacto contacto contacto contacto" "ubicacion ubicacion ubicacion ubicacion" "footer footer footer footer";
  }
}

.grid__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  background-color: black;
}

.grid__nav {
  background-color: #3c3c3c;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav;
  width: 100%;
}

.grid__slider {
  background-color: #dadee2;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: slider;
  /* display: flex; */
  /* error */
  /* justify-content: center; */
}

.grid__main {
  background-color: #d0dbdb;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
}

.grid__contacto {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: contacto;
  background-color: #e5e5f7;
  opacity: 0.9;
  background-image: radial-gradient(#b8b9d1 0.5px, transparent 0.5px), radial-gradient(#b8b9d1 0.5px, #e5e5f7 0.5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid__ubicacion {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: ubicacion;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#61626c 0.5px, transparent 0.5px), radial-gradient(#61626c 0.5px, #e5e5f7 0.5px);
}

.grid__footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ENCABEZADO */
.container__imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__imagen img {
  width: 15rem;
  height: auto;
}

@media (max-width: 525px) {
  .container__imagen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container__imagen img {
    max-width: 100%;
    height: auto;
  }
}

/* BARRA DE NAVEGACIÓN */
.grid__nav a {
  color: white;
  font-family: 'Bebas Neue', cursive, sans-serif;
  font-size: 2rem;
  padding: 0px 10px;
}

.grid__nav a:hover {
  background-color: black;
}

/* MAIN ACTIVIDADES */
/* HECHOC CON BOOTSTRAP  */
main .container__texto {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 600;
}

.carousel {
  background-color: #686565;
}

/* .carousel-item {
    height: 65vh;
    min-height: 400px;
    } */
.carousel-inner img {
  height: 600px;
  -o-object-fit: contain;
     object-fit: contain;
}

/* FORMULARIO DE CONTACTO */
.form__marco {
  width: 90%;
  max-width: 400px;
  margin: 1em auto;
  padding: 4.5em 3em;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 10px black;
          box-shadow: 5px 5px 10px black;
  text-align: center;
}

.form__title {
  font-family: 'Bebas Neue', cursive, sans-serif;
  font-size: 2rem;
  margin-bottom: .05em;
}

.form__paragraph {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
}

.form__container {
  display: -ms-grid;
  display: grid;
  gap: 1em;
}

.form__group {
  position: relative;
  color: rgba(109, 102, 102, 0.74);
}

.form__imput {
  width: 100%;
  background: none;
  color: black;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
}

.form__label {
  color: rgba(109, 102, 102, 0.74);
  cursor: pointer;
  position: absolute;
  font-family: 'Rajdhani', sans-serif;
  top: 0;
  left: 5px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: color .3s, -webkit-transform .5s;
  transition: color .3s, -webkit-transform .5s;
  transition: transform .5s, color .3s;
  transition: transform .5s, color .3s, -webkit-transform .5s;
}

.form__submit {
  font-family: 'Rajdhani', sans-serif;
  border-radius: 10px;
  border: none;
}

.form__line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: gray;
  -webkit-transform: scale(o);
          transform: scale(o);
  -webkit-transform: left bottom;
          transform: left bottom;
  -webkit-transform: transform .4s;
          transform: transform .4s;
}

.form__imput:focus + .form__label, .form__imput:not(:placeholder-shown) + .form__label {
  -webkit-transform: translateY(-12px) scale(0.7);
          transform: translateY(-12px) scale(0.7);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  color: black;
}

.form__imput:focus ~ .form__line, .form__imput:not(:placeholder-shown) ~ .form__line {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 492px) {
  .form__title {
    font-size: 1.2rem;
  }
}

/* UBICACION */
.container__ubicacion {
  max-width: 500px;
  width: 90%;
  text-align: center;
  font-family: 'Bebas Neue', cursive, sans-serif;
  font-weight: 500;
}

.container__ubicacion--mapa {
  width: 100%;
}

/* FOOTER */
.footer__socialicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.footer__socialicons li {
  list-style: none;
}

.footer__socialicons li a {
  font-size: 2em;
  color: white;
  margin: 0 15px;
  display: inline-block;
}

.footer__socialicons li a:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.grid__footer p {
  font-family: 'Bebas Neue', cursive, sans-serif;
  font-size: 1.5rem;
  color: white;
}

/* SECCION DISCIPLINAS */
/* LAYOUT CON GRID AREAS */
.layout__disciplinas {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header header" "nav nav nav nav" "section1 section1 section1 section1" "section2 section2 section2 section2" "section3 section3 section3 section3" "section4 section4 section4 section4" "footer footer footer footer";
}

.grid__header2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  background-color: black;
}

.grid__nav2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav;
  background-color: #3c3c3c;
}

.seccion1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: section1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 5px;
  margin: 1rem 1rem;
  border-radius: 5px;
  border: thin solid black;
  -webkit-box-shadow: 5px 5px 5px 5px #0005;
          box-shadow: 5px 5px 5px 5px #0005;
  overflow: hidden;
}

.seccion1::before, .seccion2::before, .seccion3::before, .seccion4::before {
  content: " ";
  position: absolute;
  width: 150%;
  height: 80%;
  top: 0;
  right: -20rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#00ccff), to(#111011));
  background: linear-gradient(#00ccff, #111011);
  -webkit-animation: animate 4s linear infinite;
          animation: animate 4s linear infinite;
}

.seccion1::after, .seccion2::after, .seccion3::after, .seccion4::after {
  content: " ";
  position: absolute;
  inset: 4px;
  background: #bbbdca;
  border: 16px;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (max-width: 500px) {
  .seccion1::before, .seccion2::before, .seccion3::before, .seccion4::before {
    content: " ";
    width: 250%;
    height: 80%;
    top: 0;
    right: -20rem;
  }
}

.seccion2 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: section2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 5px;
  margin: 1rem 1rem;
  border-radius: 5px;
  border: thin solid black;
  -webkit-box-shadow: 5px 5px 5px 5px #0005;
          box-shadow: 5px 5px 5px 5px #0005;
  overflow: hidden;
}

.seccion3 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: section3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 5px;
  margin: 1rem 1rem;
  border-radius: 5px;
  border: thin solid black;
  -webkit-box-shadow: 5px 5px 5px 5px #0005;
          box-shadow: 5px 5px 5px 5px #0005;
  overflow: hidden;
}

.seccion4 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: section4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 5px;
  margin: 1rem 1rem;
  border-radius: 5px;
  border: thin solid black;
  -webkit-box-shadow: 5px 5px 5px 5px #0005;
          box-shadow: 5px 5px 5px 5px #0005;
  overflow: hidden;
}

.footer2 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* BARRA DE NAVEGACIÓN */
.grid__nav2 a {
  color: white;
  font-family: 'Bebas Neue', cursive, sans-serif;
  font-size: 2rem;
  padding: 0px 10px;
}

.grid__nav2 a:hover {
  background-color: black;
}

/* DISCIPLINAS: SECCION 1 */
/* MOBILE */
@media screen and (max-width: 764px) {
  .seccion1, .seccion2, .seccion3, .seccion4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container__texto {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 90%;
  }
  .container__texto h2 {
    font-family: 'Bebas Neue', cursive, sans-serif;
  }
  .container__imagen2 {
    text-align: center;
  }
  .container__imagen2 img {
    max-width: 100%;
    margin-bottom: 15px;
  }
}

/* fin mobile */
.container__imagen2 {
  margin: 0 50x;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  z-index: 2;
}

.container__imagen2 img {
  border-radius: 10px;
  width: 130rem;
  padding: 10px 10px;
}

.container__texto {
  margin: 0 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 10;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.05rem;
  text-indent: 3rem;
  letter-spacing: 1px;
  line-height: 25px;
  font-weight: 600;
}

.container__texto h2 {
  font-family: 'Bebas Neue', cursive, sans-serif;
}

.footer2 p {
  font-family: 'Bebas Neue', cursive, sans-serif;
  font-size: 1.5rem;
  color: white;
}

/* SECCION FOTOS */
/* LAYOUT CON GRID AREAS */
.layout__fotos {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header header" "nav nav nav nav" "main main main main" "section section section section" "footer footer footer footer";
}

.grid__header3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  background-color: black;
}

.grid__nav3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav;
  background-color: #3c3c3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid__slider3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(https://sp-ao.shortpixel.ai/client/to_auto,q_glossy,ret_img,w_1920/https://guiaarquitectura.com/wp-content/uploads/2018/12/reja-de-acero-min.jpg);
  border-radius: 10px;
}

.footer3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fist__1 {
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  right: 20vh;
}

.fist__1--container img {
  max-width: 100%;
  height: auto;
  -webkit-animation: pulse 1s linear infinite;
          animation: pulse 1s linear infinite;
}

.fist__2 {
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  left: 20vh;
}

.fist__2--container {
  width: 100px;
  height: auto;
}

.fist__2--container img {
  -webkit-animation: pulse 1s linear infinite;
          animation: pulse 1s linear infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* MOBILE FIST NONE */
@media screen and (max-width: 870px) {
  .fist__1 {
    right: 9vh;
  }
  .fist__2 {
    left: 8vh;
  }
}

@media screen and (max-width: 752px) {
  .fist__1 {
    display: none;
  }
  .fist__2 {
    display: none;
  }
}

/* BARRA DE NAVEGACIÓN */
.grid__nav3 li a:hover {
  background-color: black;
}

.grid__nav3 li a {
  color: white;
  font-family: 'Bebas Neue', cursive, sans-serif;
  font-size: 2rem;
  padding: 0px 10px;
}

/* TAMAÑO DEL SLIDER */
/* las imágenes tienen que tener el mismo tamaño sino se desacomoda */
.slide {
  width: 100vh;
}

.slide1 {
  width: 100%;
}

.footer3 p {
  color: white;
  font-family: 'Bebas Neue', cursive, sans-serif;
  font-size: 1.5rem;
}

.fist__1 {
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  right: 20vh;
}

.fist__1--container {
  width: 100px;
  height: auto;
}

.fist__1--container img {
  -webkit-animation: pulse 1s linear infinite;
          animation: pulse 1s linear infinite;
}

.fist__2 {
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  left: 20vh;
}

.fist__2--container {
  width: 100px;
  height: auto;
}

.fist__2--container img {
  -webkit-animation: pulse 1s linear infinite;
          animation: pulse 1s linear infinite;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* MOBILE FIST NONE */
@media screen and (max-width: 870px) {
  .fist__1 {
    right: 9vh;
  }
  .fist__2 {
    left: 8vh;
  }
}

@media screen and (max-width: 752px) {
  .fist__1 {
    display: none;
  }
  .fist__2 {
    display: none;
  }
}

/* ACERCA DE NOSOTROS */
.layout__nosotros {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header" "nav nav nav" "main main main" "footer footer footer";
}

.grid__header4 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  background-color: black;
}

.grid__nav4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav;
  background-color: #3c3c3c;
}

.grid__main4 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 5px;
}

@media screen and (max-width: 764px) {
  .grid__main4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer4 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* BARRA DE NAVEGACIÓN */
.grid__nav4 li a:hover {
  background-color: black;
}

.grid__nav4 li a {
  font-family: 'Bebas Neue', cursive, sans-serif;
  font-size: 2rem;
  padding: 0px 10px;
  color: white;
}

.container__texto h1 {
  font-family: 'Bebas Neue', cursive, sans-serif;
}

/* FOOTER */
.footer4 p {
  font-family: 'Bebas Neue', cursive, sans-serif;
  font-size: 1.5rem;
  color: white;
}

/* HORARIOS Y PRECIOS */
.layout__hyp {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header" "nav nav nav" "tabla tabla tabla" "footer footer footer";
}

.grid__header5 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  background-color: black;
}

.grid__nav5 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav;
  background-color: #3c3c3c;
}

.tablahyp {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: tabla;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: linen;
}

.tablahyp h2, .tablahyp th, .tablahyp td {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
}

.footer5 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* NAV */
.grid__nav5 li a:hover {
  background-color: black;
}

.grid__nav5 li a {
  color: white;
  font-family: 'Bebas Neue', cursive, sans-serif;
  font-size: 2rem;
  padding: 0px 10px;
}

/* TABLA */
/* MODIFICADA CON BOOTSTRAP */
/* .tabla {
    border: 5px solid black;
    margin: 10px;
    border-collapse: collapse;
    border-radius: 2px;
    
}

.tabla td {
    border: 1px solid black;
    padding: 5px;
}

.tabla th {
    padding: 8px;
}

.tabla tr:hover td {
    background: dimgray;
}

tr:nth-child(even) {
    background-color:#ddd;
}

.tabla th {
    background-color: lightslategray;
}*/
.footer5 p {
  font-family: 'Bebas Neue', cursive, sans-serif;
  font-size: 1.5rem;
  color: white;
}

.tablahyp h2 {
  text-decoration: underline;
}
/*# sourceMappingURL=estilo.css.map */